* {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

  @import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');

body {
    font-size: 15px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    color: #fff;
}

.testimonial-container {
    padding: 5em;
    background: hsl(210, 46%, 95%);
    display: grid;
    gap: 2em;
    grid-template-columns: repeat(4, 1fr);
}

.card {
    border-radius: 10px;
    padding: 2em;
    background: #fff;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.card:nth-child(1) {
    grid-column: 1/3;
}

.card:nth-child(4) {
    grid-column: 2/4;
    grid-row: 2/3;
}

.card:nth-child(5) {
    grid-column: 4/5;
    grid-row: 1/3;
}

.card-header {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}

.card-header h3 {
    font-size: 1rem;
}

.card-header p {
   opacity: 50%; 
   font-size: .8rem;
}

.card-header img {
    border-radius: 50%;
    border: 2px solid #996ed9;
    width: 40px;
    margin-right: .7em;
}

.card-bold {
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1.4em;
    margin-bottom: .5em;
    position: relative;
    z-index: 5;
}

.card-quote {
    opacity: 70%;
    line-height: 1.4em;
}

.card--bg-purple {
    position: relative;
}

.quote {
    position: absolute;
    top: 0;
    right: 10%;
    z-index: 3;
}

.card--bg-purple {
    background: hsl(263, 55%, 52%);
}
.card--bg-gray-blue {
    background: hsl(217, 19%, 35%);
}
.card--bg-gray-black {
    background: hsl(219, 29%, 14%);
}
.card--bg-white {
    background: #fff;
    color: hsl(217, 19%, 35%);
}


/* Media Queries */

/* tablets */

@media screen and (max-width: 768px){
    .testimonial-container {
        grid-template-columns: 1fr;
        padding: 2em;
    }

    .card:nth-child(1) {
        grid-column: 1;
    }
    
    .card:nth-child(4) {
        grid-column: 1;
        grid-row: 4;
    }
    
    .card:nth-child(5) {
        grid-column: 1;
        grid-row: 5;
    }
}

/* mobile */

@media screen and (max-width: 480px){
    .testimonial-container {
        grid-template-columns: 1fr;
        padding: 1.5em;
    }

    .card:nth-child(1) {
        grid-column: 1;
    }
    
    .card:nth-child(4) {
        grid-column: 1;
        grid-row: 4;
    }
    
    .card:nth-child(5) {
        grid-column: 1;
        grid-row: 5;
    }
}

